[submodule "github/20220304/Floating-Body-Thesis"]
	path = github/20220304/Floating-Body-Thesis
	url = https://github.com/septianulandini/Floating-Body-Thesis
[submodule "github/20220304/Thesis-Discussion"]
	path = github/20220304/Thesis-Discussion
	url = https://github.com/septianulandini/Thesis-Discussion
